@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

* {
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
}

#main-header {
    text-align: center;
    background-color: rgb(224, 173, 110);
    padding: 10px;
}

.navbar ul {
    background-color: rgb(94, 86, 86);
    font-family: calibri;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Oswald", sans-serif;
}

.navbar a {
    color: white;
    text-align: right;
    text-decoration: none;
    padding-inline: 20px;
}

.navbar a:hover {
    background-color: rgb(61, 59, 59);
}

li {
    list-style: none;
    display: inline-block;
}

.navbar {
    position: fixed;
    top: 0vh;
    right: 0vh;
    margin: 0px 0 0 0;
    z-index: 9;
}

.navbar a {
    font-size: .8em;
    display: block;
    margin-left: 20px;
    padding-bottom: 3px;
}

/* Parallax effect for sections */
.parallax {
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#home {
    background-image: url(bugs.jpg);
}

#about {
    background-image: url(about1.jpg);
    background-color: red; /* Fallback color */
}

#project {
    background-image: url(project1.jpg);
    background-color: teal; /* Fallback color */
}

#contact {
    background-image: url(contact1.jpg);
    background-color: blue; /* Fallback color */
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 3;
    }
}

#photocar {
    position: absolute;
    border-radius: 40px;
    top: 15%;
    right: 10vh;
    width: 47vw;
    height: 40vw;
    animation-name: fade_in;
    animation-duration: 1s;
}

.text {
    position: absolute; 
    left: 5%;
    top: 20%; 
    transform: translateY(0); 
    width: 30%;     
    color: white;
    font-size: 30px;
    padding: 20px;
}

.home_text {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin-bottom: 30px; 
}

.topic_header {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.project_page_header{
    color: black;
    font-size: 60px;
    font-weight: bolder;
    transform: translateY(50%); 
    transform: translateX(2%);   
}
.mff_video {
    position: relative;
    top: 20vh;
    left: 5vw;
    width: 40vw;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50vh;
    border-radius: 20px;
    background-color: teal;
}

.mff_video iframe {
    border-radius: 20px;
}

.video_text{
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    position: relative;
    font-weight: bold; 
    right: -50vw;
    top: -15vh;
    width: 45%;    
    color: black;
    padding: 20px;
}

.ec_website{
    font-family: "Oswald", sans-serif;
    position: relative;
    right: -50vw;
    top: -15vh;
    width: 45%;    
    color: black;
    padding: 20px;
}

.about_page_header{
    color: white;
    font-size: 40px;
    font-weight: bolder;
    transform: translateY(50%); 
    transform: translateX(2%);   
}

.about_div{
    position: relative;
    width: 35vw;
    top: 25vh;
    left: 15vw;
}

#about h1{
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: white;
}

#about p{
    font-family: "Oswald", sans-serif;
    position: relative;   
    color: white;
    font-size: 20px;
}

.about_img{
    position: relative;
    height: 50vh;
    top: -10vh;
    left: 60vw;
    border-radius: 130px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

#contact h1{
    position: relative;
    color: white;
    top: -15vh;
    left: -40vw;
    font-size: 60px;
    font-weight: bolder;

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
}

form div {
    width: 100%;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.clear-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.clear-button:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.favicon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 72px;
    height: 42px;
    z-index: 10;
}
